html, body {
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: Tahoma, serif;
}

.container {
    height: 100vh;
}

h1 {
    margin-top: 0;
    font-size: 50px;
}

h3 {
    font-size: 25px;
}

.introduction {
    display: flex;
    margin-top: 0;
    color: #fff;
    background: #191970;
    width: 100%;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.original-text {
    background: #ddd;
    width: 45%;
    padding: 25px;
    height: 200px;
    margin: 10px auto 0 auto;
}

.written-text {
    width: 50%;
    margin: 1em auto 0 auto;
    height: 150px;
}

textarea {
    width: 90%;
    border: 10px solid #666;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 15px;
}

.timer-box {
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    margin: 0 auto;
}

.timer-box p {
    font-size: 60px;
    font-weight: bold;
}

.timer-box button {
    font-size: 30px;
    padding: 15px 50px;
    background: #fff;
    border: 10px solid #B22222;
    color: #B22222;
    cursor: pointer;
    font-weight: 600;
}

.result {
    height: 115px;
    text-align: center;
    color: #fff;
    background: #000;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    display: flex;

    font-size: 25px;
}

.cpm, .wpm {
    text-decoration: underline;
    font-style: italic;
}
